
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="widget">
                    <h3>We Offers</h3>
                    <ul>
                        <li><a href="#">Personal-training</a></li>
                        <li><a href="#">diets</a></li>
                        <li><a href="#">classes</a></li>
                        <li><a href="#">Open 7 days</a></li>
                        <li><a href="#">Massages</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="widget">
                    <h3>Top Trainers</h3>
                    <ul>
                        <li><a href="#">Lorenso</a></li>
                        <li><a href="#">Ladimer</a></li>
                        <li><a href="#">Romero</a></li>
                        <li><a href="#">Xavier</a></li>
                        <li><a href="#">Sam</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="widget">
                    <h3>Locations</h3>
                    <ul>
                        <li><a href="#">Orlando</a></li>
                        <li><a href="#">Kissimmee</a></li>
                        <li><a href="#">Lake Mary</a></li>
                        <li><a href="#">longwood</a></li>
                        <li><a href="#">Winter Springs</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="widget">
                    <h2>Get Ripped</h2>
                    <address>
                        <strong>Eat to get Ripped</strong><br>
                        1st street Orlando,fl<br>
                        <br>
                        Telf: 863-969-8248<br>
                        Email: Electronicsmf@aol.com
                    </address>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 copyright">
                <p>&copy; @DateTime.Now.Year - All Rights Reserved Power By UxDesign</p>
                <a href="#top" class="btn btn-primary scroltop"><i class="fa fa-angle-up"></i></a>
            </div>
        </div>
    </div>
</footer>